/* mediaQueries.css */

/* Media Query pour les petits écrans (mobile) */
@media (max-width: 768px) {

    footer {
        flex-direction: column; /* Aligne les éléments verticalement */
        position: relative; /* Supprime la position absolue pour centrer */
        align-items: center; /* Centre les éléments */
    }

    .footer-link {
        position: static; /* Supprime la position absolue */
        margin-right: 0; /* Enlève la marge à droite */
        margin-top: 10px; /* Ajoute une marge au-dessus pour espacer du texte du footer */
    }
    
}