/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #333;
    box-shadow: 0 2px 5px gray;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Style pour le logo */
.logo-container img {
    max-width: 150px; /* Taille du logo */
    height: auto;
    padding-left: 15px; 
}

.topnav {
    display: flex;
    justify-content: space-between; /* Logo à gauche et liens au centre */
    align-items: center;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: background-color 0.2s ease;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ed8d18;
    color: white;
}

/* Styles pour le contenu principal (main) */
main {
    text-align: center;
    flex: 1; /* Permet au main de prendre l'espace restant dans la page */
    padding-bottom: 50px; /* Évite que le contenu principal chevauche le footer */
}


/* CSS */
.button-63 {
    align-items: center;
    background-image: linear-gradient(90deg, rgba(237,190,24,1) 0%, rgba(237,141,24,1) 47%, rgba(224,114,0,1) 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(252, 233, 65, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 auto;
    margin-top:30px;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative; /* Relatif au parent, pas fixe */
    width: 100%;
    margin-top: auto; /* Pousse le footer en bas de la page si nécessaire */
}

.footer-text {
    flex: 1;
    text-align: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    position: absolute;
    right: 20px;
}

.footer-link:hover {
    text-decoration: underline;
}

#image-viewer {
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden; /* Cache les débordements si nécessaire */
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.viewer-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* Styles pour le bouton burger */
.burger {
    display: none; /* Caché par défaut */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 101;
}

.burger span {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Styles pour la navbar centrée */
.nav-center {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les liens */
    flex: 1; /* Prend tout l'espace disponible pour centrer les éléments */
}

/* ----------------- STYLES POUR LES CARTES PRODUITS ------------------- */

.product-section {
    padding: 20px 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* Fond blanc pour chaque carte produit */
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-info {
    max-width: 60%;
    text-align: left;
}

.product-info .product-title {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.product-info .product-description {
    font-size: 1.1em;
    color: #666;
    line-height: 1.5;
}

.product-image {
    flex-shrink: 0;
}

.product-image img {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Lightbox styling */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox:target {
    display: flex;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Styles pour la section du tableau de bord */
.dashboard {
    display: flex;
    flex-wrap: wrap; /* Permet aux boxes de passer à la ligne suivante */
    justify-content: space-between; /* Espacement entre les boxes */
    padding: 20px;
    margin: 0 auto; /* Centrer la section */
}

.box {
    overflow-y: auto;
    max-height: 510px;
    flex: 0 0 calc(45% - 20px); /* Chaque box prend 50% de la largeur moins l'espacement */
    margin-bottom: 20px; /* Espacement entre les lignes */
    padding: 20px;
    background-color: #f9f9f9; /* Couleur de fond des boxes */
    border: 1px solid #ccc; /* Bordure pour les boxes */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour un effet 3D */
    transition: box-shadow 0.3s ease; /* Transition pour l'effet au survol */
}

.success-message {
    color: green; /* Couleur verte pour le message */
    margin: 20px 0; /* Marge autour du message */
    font-weight: bold; /* Texte en gras */
}

.popup, .userPopup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff5c5c; /* Couleur rouge */
    color: white;
    border: none;
    padding: 0; /* Enlever le padding pour éviter d'affecter la taille */
    width: 30px; /* Largeur fixe pour un carré */
    height: 30px; /* Hauteur fixe pour un carré */
    display: flex; /* Utilisation de flexbox pour le centrage */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    font-size: 16px; /* Ajuster la taille de la police */
}

/* Ajout d'un effet de survol pour le bouton */
.close-btn:hover {
    background: #ff3d3d; /* Couleur rouge plus foncé au survol */
}


/* Style pour la table */
table {
    width: 100%;
    border-collapse: collapse; /* Évite les doubles bordures */
    overflow-x: auto; /* Permet le défilement horizontal sur les petits écrans */
    display: block; /* Transforme la table en bloc pour le défilement */
}

/* Style pour les lignes de la table */
table tbody tr {
    border-bottom: 1px solid #ddd; /* Ligne de séparation en bas des lignes */
}

table tbody tr:last-child {
    border-bottom: none; /* Enlève la bordure du dernier élément */
}

/* Style pour les cellules de la table */
td, th {
    padding: 10px; /* Espacement intérieur */
    text-align: left; /* Aligner le texte à gauche */
}

/* Styles pour les boutons dans le tableau */
button.edit-btn, button.delete-btn, button.edit-user-btn, button.delete-user-btn {
    padding: 10px 15px; /* Ajustement du padding pour la taille uniforme */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Utilisation d'une unité relative */
    width: 100%; /* Les boutons s'étendront à la largeur du conteneur */
    max-width: 120px; /* Limite la largeur maximale pour rester lisible */
    margin: 5px 0; /* Espacement vertical entre les boutons */
}

/* Couleur pour le bouton Modifier */
button.edit-btn, button.edit-user-btn {
    background-color: #4CAF50; /* Vert */
    color: white;
}

/* Couleur pour le bouton Supprimer */
button.delete-btn, button.delete-user-btn, button.delete-message-btn {
    background-color: #f44336; /* Rouge */
    color: white;
}

/* Ajouter une transition pour un effet de survol */
button.edit-btn:hover, button.delete-btn:hover, button.delete-message-btn {
    opacity: 0.8; /* Effet de survol */
}


/* Styles pour la section contact */
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Ajout de position: relative pour la barre de séparation */
}

.contact-info {
    width: 45%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 45%; 
}

/* Styles pour la barre de séparation */
.separator {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 40px); /* Hauteur de la barre (100% - padding haut/bas) */
    width: 1px; /* Épaisseur de la barre */
    background-color: #ccc; /* Couleur de la barre */
}

.contact-info h1, .contact-info h2, .contact-info h3 {
    text-align: center; 
}

.contact-form {
    width: 45%; /* Ajustez la largeur si nécessaire */
}

.contact-form h2 {
    text-align: center;
}

.messagesent-container { /* Cibler la classe flex-center quand elle est appliquée à contact-container */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    min-height: calc(100vh - 160px); /* Hauteur minimale pour que le centrage vertical fonctionne */
}