/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

/* Styles pour le header */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne le contenu en haut */
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de la vue */
    background-color: #f4f4f4;
    width: 200px;
    position: fixed; /* Fixe la navbar sur le côté gauche */
}

/* Styles pour la navigation */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le logo */
.logo {
    width: 100px; /* Ajuste la taille du logo */
    margin-top: 20px; /* Espace au-dessus du logo */
    margin-bottom: 20px; /* Espace entre le logo et les liens */
}

/* Styles pour le conteneur des liens */
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les liens sous le logo */
}

/* Styles pour les liens de navigation */
nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

/* Styles pour le contenu principal (main) */
main {
    margin-left: 220px; /* Pour laisser de l'espace à la barre de navigation fixe */
    padding: 20px;
    flex: 1; /* Permet au main de prendre l'espace restant dans la page */
}

/* Styles pour le footer */
footer {
    background-color: #f4f4f4; /* Couleur de fond */
    text-align: center; /* Centre le texte */
    padding: 10px 0; /* Espacement vertical */
    width: 100%; /* Prend toute la largeur disponible */
    position: center;
    margin-top: auto; /* Permet au footer de rester en bas si la page est courte */
}

footer p {
    margin: 0; /* Enlève la marge par défaut */
    color: #666; /* Couleur du texte */
}

#image-viewer {
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden; /* Cache les débordements si nécessaire */
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.viewer-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
